.logo {
    margin-left: 15px;
    margin-right: 15px;
    width: 4%;
}

.logo__name {
    color: black;
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 2rem;
    margin-right: 2rem;
    text-decoration: none;
}

.nav__titulos {
    font-family: 'Source Serif Pro', serif;
    font-weight: 600;
}

.titulo__cadastro {
    font-family: 'Source Serif Pro',serif;    
    font-weight: 700;
    padding: 2%;
    text-align: center;
}

.formulario {
    display: flex;
    justify-content: center;
}

.form__area {
    width: 50%;
}

.area__texto {
    height: 200px;
}

.form__categoria {
    margin-bottom: 0.5rem;
}

.form__botao{
    padding-top: 1.5rem;
}

@media only screen and (max-width: 600px) {
    .logo {
      width: 15%;
    }
}